body{ 
    background-color: #f3f3f3;
}
div{
    display: flex;
  justify-content:center;
  
  align-items: center;   
    background-color: #d9d9d9;
}
div#space{
    width: 15px;
}
button{
  width: 90px;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #333333;
  border-radius: 4px;
  display: flex;
  justify-content:center;

}
button:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
input.form-control{
    width: 200px;
  padding: 12px 20px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
}
input.form-control:hover{
    background-color: rgb(220, 220, 220);
  }
input.form-control:focus{
    background-color: bisque;
  }
h4{
    font-weight: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
